//
   Created by lijiemoop on 2/7/2017.

.modal-footer._footer
    .container
        .row
            .col-sm-6.col-md-6
                h4 &#x516C;&#x53F8;&#x60C5;&#x51B5;
                ul.list-unstyled
                    li
                        a(href='http://www.xuezuowang.com') &#x5173;&#x4E8E;&#x516C;&#x53F8;
                    // <li><a href="#">公司办公</a></li>
                    // <li><a href="#">合作伙伴</a></li>
                    // <li><a href="#">我们的团队</a></li>
            .col-sm-6.col-md-6
                h4 &#x8BE2;&#x95EE;&#x54A8;&#x8BE2;
                ul.list-unstyled
                    li
                        a(href='http://newengine3w.xuezuowang.com/yn-engine/posetup.exe') office&#x63D2;&#x4EF6;
                    // <li><a href="">教师资讯</a></li>
                    // <li><a href="">价格查询</a></li>
                    // <li><a href="">申请教师</a></li>
            // <div class="col-xs-12 col-md-6">
            // <h4>联系我们</h4>
            // <div class="form-group">
            // <div class="input-group">
            // <input type="text" placeholder="输入内容..." class="form-control"/><span class="input-group-btn">
            // <button type="button" class="btn btn-grey-800">提交</button></span>
            // </div>
            // </div><br/>
            // </div>
script(src='/home/js/header/config/config.js')
script(src='/home/js/header/lib/jquery.js')
script(src='/home/js/header/lib/underscore.js')
script(src='/home/js/header/lib/common.js')
script(src='/home/js/header/module/sign_modal.js')
script(src='/home/js/header/module/header.js')
script(src='/home/js/bootstrap/bootstrap.js')
script(src='/home/js/script.js')
script(src='/home/js/index/publicFuc.js')
script(src='/home/js/index/users.js')