

 <body>  
     <div id='example'>
     <div class='demo-section hidden-on-narrow k-content wide'>
      <div >  <strong>功能列表<strong> </div>



<hr>
      <div  class='column2'> 
 <table id='role' class="table">
     <thead>
         <tr>
              <th>appID</th>
              <th>功能名</th>
              <th>链接/是否跳转</th>
              <th>图片</th>
              <th><div  style='float: left;'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;功能权属</div><div style='float: left;'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 功能位置</div ><div style='float: left;'>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</div></th>
         </tr>
     </thead>
     <tbody id='tbody'>



    </tbody>
 </table>

     </div>  

     </div>   
     <div class='responsive-message'></div>
     <script src='/app/mx/addapp.js'></script>
     <style>

         html {
             background-color:#fff;
          }
         .demo-section {      
             width: 95%;
         }
         #background {
             background: transparent url(../content/web/colorpicker/interior-bg.png) no-repeat;
             margin: 0 auto;
             width: 100%;
             height: 100%;
             overflow: hidden;
         }
         .column1 {
             border-style: solid;
             border-color:  #B5B5B5;
             border-width: 1px;
             margin-top: 30px;
             margin-left: 5px; 
             margin-right: 5px; 
             height: 100%;
             text-align: center;
              padding: 20px 0;
         }
         .column2 {

             border-style: solid;
             border-color:  #B5B5B5;
             border-width: 1px;
             margin-top: 30px;
             margin-left: 5px; 
             margin-right: 5px; 
             height: 100%;
              padding: 20px 0;

         }
         .column .title {
             color: #a3a3a3;
             text-transform: uppercase;
             font-size: 11px;
             font-weight: normal;
             padding: 41px 0 20px;
         }
     </style>
 </div>

