//
   Created by Administrator on 2016/8/10.
doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title Learning Record
      //link(rel="stylesheet", href="../../course_org/styles/bootstrap.min.css")
      //script(type="text/javascript", src="../../course_org/ext_js/jquery.min.js")
      //script(type="text/javascript", src="../../course_org/ext_js/underscore.js")
      //script(type="text/javascript", src="../../course_org/ext_js/backbone.js")
      //script(type="text/javascript", src="../../course_org/ext_js/backbone.localStorage.js")
      //script(type="text/javascript", src="../../course_org/ext_js/bootstrap.min.js")
      //script(type="text/javascript", src="../../course_org/ext_js/My97DatePicker/WdatePicker.js")

      link(rel="stylesheet", href="../../styles/kendo.common.min.css")
      link(rel="stylesheet", href="../../styles/kendo.default.min.css")
      script(type="text/javascript", src="../../course_org/ext_js/jquery.min.js")
      script(type="text/javascript", src="../../js/kendo.all.min.js")

   body
      script(type="text/javascript", src="../content/web/globalization/cultures/kendo.culture.en-US.js")
      script(type="text/javascript", src="../../js/cultures/kendo.culture.zh-CN.min.js")
      script(type="text/javascript", src="../../js/cultures/kendo.messages.zh-CN.min.js")
      .container(style="padding: 50px 10px 10px;")
      script(type="text/javascript", src="../../course_org/js/CourseOrgModel.js")
      script(type="text/javascript", src="../../course_org/js/optCourseOrg.js")
